@use "../abstract/" as *;

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
}
* {
  font-family: $kor;
}

body {
  font-size: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

@layer Typography {
}
