$primary: #0f793c;
$secondary: #e9fba1;
$thirdary: #1b3937;
$white: #fff;
$black: #000;
$gray1d: #1d1d1d;
$gray38: #383838;
$gray82: #828282;
$graydc: #dcdcdc;
$grayea: #eaeaea;
$grayed: #ededeb;
$grayef: #efefed;

// 반응형 기준
$mobile: 420px;
$mobileBase: 720px;
$tablet: 1024px;
$web: 1280px;
